<ion-view view-title="TABLA NUTRICIONAL">
  <ion-content>
    <ion-list>
  <center><h3>TABLA NUTRICIONAL</h3></center>
   <p>el equilibrio en la alimentación es el principio más importante de la pirámide alimenticia, y, en particular, y de una dieta saludable. hay que come
<img src="http://www.goldproductsgptic.com/Productos/VitaVitan/tabla_vitan.png">
<p>Si se realiza una declaración nutricional o de propiedades saludables o bien se trata de alimentos enriquecidos, es obligatorio realizar la información nutricional de acuerdo con lo establecido en el Reglamento sobre información alimentaria facilitada al consumidor.
	<img src="https://www.efesalud.com/files/2015/08/piramide-nutricion.jpg">
    </ion-toggle>
    </ion-list>
    	<div class="todo">
    <div class="titulo"> 
      <p>Juego de memoria </p>
    </div>
    	<div class="contador">
			<p>Intentos</p>
		  	<p class="counter">0</p>
		</div>
		<div class="memoria">
			<div class="carta" id="1">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
			<div class="carta" id="2">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
			<div class="carta" id="3">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
			<div class="carta" id="4">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
			
			<div class="carta" id="5">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
			<div class="carta" id="6">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
			<div class="carta" id="7">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
			<div class="carta" id="8">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
			
			<div class="carta" id="9">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
			<div class="carta" id="10">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
			<div class="carta" id="11">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
			<div class="carta" id="12">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
		
			<div class="carta" id="13">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
			<div class="carta" id="14">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
			<div class="carta" id="15">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
			<div class="carta" id="16">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
      
      <div class="carta" id="17">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
      
      <div class="carta" id="18">
				<div class="inner-wrap">
					<div class="frente"></div>
					<div class="atras"></div>	
				</div>
			</div>
	
		</div>
	</div>
  </ion-content>
</ion-view>

